.presente
{
    background-color: #4cc450;
}

.ritardobreve
{
    background-color: #e08e2e;
}

.ritardograve
{
    background-color: #bf0000;
}

.assente
{
    background-color: black;
    color: white;
}

.notifications{
    background-color: red;
    color: white;
    border-radius: 100%;
    text-align: center;
    width:22px
}
.inputtext{
    border-color: #1697af;
    border-radius: 5px;
    padding: 5px;
}
.inputtext:focus{
    color: white;
    background-color: #1f88e3;
    transition-duration: 0.3s;
    border-color: white;
    font-size: 20px;
}
.sub{
    top:5px;
    padding:10px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    background-color: #1f88e3;
    color: white;
    font-weight: 600;
    font-size: 15;
    border-radius: 10px;
    border-color: solid white;
    box-shadow: 0;
}
.sub:hover{
    background-color: white;
    color: #1f88e3;
    border-color: #1f88e3;
    transition-duration: 0.4s;
}

.login-form, .addAc-form
{
    margin-left: 20%;
    margin-top: 15%;
}
.scroll
{
    background-color:white;
    overflow-y: scroll;
    min-height: 200px;
}
